<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>YarBurArt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template,
	free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static "js/respond.min.js" %}"></script>
	<![endif]-->

	</head>
	<body>
	
	<div id="fh5co-header" style="background-image: url({% static "images/polygon.jpg" %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="bio-photo text-center">
			<a href="/"><img src="{% static "images/person_2.jpg" %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
		</div>
	</div>

	<div id="fh5co-main">

		<div class="fh5co-section fh5co-works">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>01. My Works</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row card-git">
<!--							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">-->
<!--								<a href="{% static "images/img_1.jpg" %}" class="image-popup" title="Title Of Work Here">-->
<!--									<img src="{% static "images/img_1.jpg" %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">-->
<!--								<a href="{% static "images/img_2.jpg" %}" class="image-popup" title="Title Of Work Here">-->
<!--									<img src="{% static "images/img_2.jpg" %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">-->
<!--								<a href="{% static "images/img_3.jpg" %}" class="image-popup" title="Title Of Work Here">-->
<!--									<img src="{% static "images/img_3.jpg" %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">-->
<!--								<a href="{% static "images/img_4.jpg" %}" class="image-popup" title="Title Of Work Here">-->
<!--									<img src="{% static "images/img_4.jpg" %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive">-->
<!--								</a>-->
<!--							</div>-->
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<div class="github-card" data-github="yarburart/keai" data-width="400" data-height="279" data-theme="medium"></div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<div class="github-card" data-github="yarburart/ToDo-learn-django" data-width="400" data-height="279" data-theme="medium"></div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<div class="github-card" data-github="yarburart/ReiApi" data-width="400" data-height="279" data-theme="medium"></div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<div class="github-card" data-github="yarburart/rand_py_yarburart" data-width="400" data-height="279" data-theme="medium"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>02. About Me</h2>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="github-card" data-github="yarburart" data-width="400" data-height="318" data-theme="medium"></div>
							<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
							<div class="col-md-12">
							<p>Hello I'm <strong>Yaroslav Bur.</strong>
								No one will read this text anyway, so I can write all sorts of nonsense here. <br>
								Go and read the code if you are really interested. <br>
								But like Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nunc neque ...<br>
								I am a passionate learner with a love of programming. <br>
								I have recently started learning Python and C sharp, <br>
								and am excited to further my knowledge in these languages. <br>
								As a beginner, I am focusing on the fundamentals of programming <br>
								and gaining a strong understanding of the basic concepts. <br>
								I am also exploring the various libraries, frameworks, and tools available in both languages. <br>
								In addition to programming, I am also interested in digital art. <br>
								I enjoy using various digital art tools to create unique designs and illustrations. <br>
								I love the challenge of creating something new, and the freedom that comes with digital art. <br>
								I am constantly experimenting with various techniques and tools, and am excited to see where my creativity takes me. <br>
								I believe that programming and digital art complement each other. <br>
								By understanding the basics of programming, I am able to create more complex and interesting artwork. <br>
								Similarly, my knowledge of digital art makes me a better programmer, <br>
								allowing me to create more visually appealing applications and websites. <br>
								My passion for programming and digital art has led me to develop a strong work ethic, determination, <br>
								and motivation to succeed. I am constantly pushing myself to learn more and become better at both disciplines. <br>
								I am excited to see how far I can take my programming and digital art skills.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>03. Contact</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12">
							<form action="#" id="dev-form">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="First Name">		
										</div>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="Last Name">
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<input type="email" class="form-control" placeholder="Email">		
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<textarea name="email" id="email" cols="30" class="form-control" rows="10" placeholder="Message"></textarea>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<input type="submit" class="btn btn-primary btn-outline btn-lg btn-block" value="Submit" >
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>04. Copyright</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12">
							<p>&copy;2023 powered by YarBurArt. All Rights Reserved. <br>
								Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> cuz I'm kind of lazy.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


	

	</div>

	<!-- jQuery -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	<!-- Stellar -->
	<script src="{% static "js/jquery.stellar.min.js" %}"></script>

	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}"></script>

	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	
	<!-- MAIN JS -->
	<script src="{% static "js/main.js" %}"></script>

	<!-- github cards -->
	<script>
		function okCardGit() {
			$('.card-git').append(
				`<p>Okay, I respect your privacy (jsdelivr is blocked).
				There are examples of my work on the profile page on github </p>`
			);
		}
		$( "#dev-form" ).on( "submit", function( event ) {
		  alert( "Imagine it working (～￣▽￣)～ " );
		  event.preventDefault();
		});
	</script>
	<script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js" onerror="okCardGit()"></script>

	</body>
</html>

